/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: linear-gradient(180deg, #009400, #055200);
  color: white;
  font-size: 200%;
  font-family: monospace;
  background-attachment: fixed;
}

h1.big.center {
  font-family: system-ui, sans-serif;
}

.center {
  text-align: center;
}

.big {
  font-size: 400%;
}

input {
  font-size: 1em;
  font-family: monospace;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgb(0, 100, 0);
}

.note {
  margin: 15px 5px;
  background: wheat;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}
